In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# PRINT FUNCTION

In [2]:
print("INDIA","PAKISTAN","MYANMAR",'BHUTAN')

INDIA PAKISTAN MYANMAR BHUTAN

In [3]:
print("INDIA","PAKISTAN","MYANMAR",'BHUTAN',sep="-")

INDIA-PAKISTAN-MYANMAR-BHUTAN

In [4]:
print("INDIA","PAKISTAN","MYANMAR",'BHUTAN',sep="/")
print("AJAO YE BHI DEKH LO")

INDIA/PAKISTAN/MYANMAR/BHUTAN
AJAO YE BHI DEKH LO

In [5]:
print("INDIA","PAKISTAN","MYANMAR",'BHUTAN',sep="/",end=" ")
print("AJAO YE BHI DEKH LO")

INDIA/PAKISTAN/MYANMAR/BHUTAN AJAO YE BHI DEKH LO

# DATATYPES
- Basic(integer, float, boolean, string and complex)
- Containers(Lists, Tuples, Sets and Dictionary)
- User defined(Class)

In [6]:
# integer
print(5)
# bollean
print(True)
# float
print(4.5015)
# complex
print(4+5j)
# string
print('Me')
print("Myself")
print("""Mere wala self""")

5
True
4.5015
(4+5j)
Me
Myself
Mere wala self

In [7]:
# lists
print([1,2,3,4,5])
# tuples
print((1,2,3,4,5))
# sets
print({1,2,3,5,4})
# dictionary
print({
    "Name" : "Abhishek",
    "Age" : 25,
    "Gender" : "Male"
})

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'Name': 'Abhishek', 'Age': 25, 'Gender': 'Male'}

# COMMENTS
- Single line Comments (#THIS IS MY NEW CODE)
- Multi Line Comments   (---)

# VARIABLES

In [8]:
name="Abhishek"
name

'Abhishek'

- Dynamic Typing - It means directly defining a variable without specifing its datatype.
 (example - Python, PHP)
- Static Typing - In this first we have to tell the datatype before defining  variable.
 (example - C, C++, Java)

In [9]:
a = 5
a

5

In [10]:
a = "NAYA KAAM"
a

'NAYA KAAM'

In [11]:
a = 5.65
a

5.65

- Dynamic Binding - Owerriting of variables irrespective of datatypes. (EXAMPLE- Python)
- Static Binding - Owerriting of variables of a particular datatype. (EXAMPLE- C, C++, JAVA)

In [12]:
a=5;b=6;c=7
print(a)
print(b)
print(c)

5
6
7

In [13]:
a,b,c=6,7,8
print(a)
print(b)
print(c)

6
7
8

In [14]:
a=b=c=6
print(a)
print(b)
print(c)

6
6
6

In [15]:
a=8;b=9;c=2
a
b
c

8

9

2

# Keywords

In [16]:
from itertools import count
import keyword
print(keyword.kwlist)
print(" ")
print(len(keyword.kwlist), "total keywords.")

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35 total keywords.

# Identifiers

- 1 Start with alphabet or _
- 2 Never starts with numbers
- 3 Contain numbers but not start with it
- 4 keywords cannot be used for identifiers

# Taking User Input and Type Conversion

In [17]:
input() # Always Takes input in string format

'6'

In [18]:
from distutils.command.build_scripts import first_line_re


firts_num = input("Enter the first number")
second_num = input("Enter the second number")
sum = firts_num + second_num
print(firts_num, type(firts_num))
print(second_num, type(second_num))
print(sum, type(sum))

25 <class 'str'>
38 <class 'str'>
2538 <class 'str'>

In [19]:
firts_num = int(input("Enter the first number"))
second_num = int(input("Enter the second number"))
sum = firts_num + second_num
print(firts_num, type(firts_num))
print(second_num, type(second_num))
print(sum, type(sum))

21 <class 'int'>
63 <class 'int'>
84 <class 'int'>

In [20]:
print("DATATYPE", type(45))
print("DATATYPE", type(45.5))
print("DATATYPE", type('45'))
print("DATATYPE", type(True))
print("DATATYPE", type(4+9j))

DATATYPE <class 'int'>
DATATYPE <class 'float'>
DATATYPE <class 'str'>
DATATYPE <class 'bool'>
DATATYPE <class 'complex'>

## Types of TypeConversion

- implicit
- explicit

In [21]:
4+85.9 # Here python will automatically add integer + float datatype and 
       # the end result is float which is done implicity by python
8 + 9+5j
7.24 + 0.55 + 0+8j

89.9

(17+5j)

(7.79+8j)

In [22]:
int(4.5) # Here we converting float datatype into integer datatype explicitly
float(6) # Here we converting int datatype into float datatype explicitly
str(45) # Here we converting int datatype into str datatype explicitly
bool(998) # Here we converting int datatype into boolean datatype explicitly
complex(1.98) # Here we converting float datatype into complex datatype explicitly
list("Hello World") # Here we converting string datatype list integer datatype explicitly
set("Hello World 2 4 6 8") # Here we converting string datatype into set datatype explicitly
tuple("1,2,5,9,'hg','pjh'") # Here we converting mix datatype into tuple datatype explicitly

4

6.0

'45'

True

(1.98+0j)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

{' ', '2', '4', '6', '8', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

('1',
 ',',
 '2',
 ',',
 '5',
 ',',
 '9',
 ',',
 "'",
 'h',
 'g',
 "'",
 ',',
 "'",
 'p',
 'j',
 'h',
 "'")

In [23]:
a=45
float(a)
a # Type Conversion is not a permanent operation

45.0

45

# NOTE: Type Conversion AND Type Casting are two different things do not mix them together
- *********Type converion is not permanent but Type casting is permanent operation*********

In [25]:
a=[1,2,3,4,'as','a','matter']
a
b=(1,2,3,4,'as','a','matter')
b
c={1,2,3,4,'as','a','matter'}
c

[1, 2, 3, 4, 'as', 'a', 'matter']

(1, 2, 3, 4, 'as', 'a', 'matter')

{1, 2, 3, 4, 'a', 'as', 'matter'}

# Literals
    Literal is a raw data given in a variable. In Python there are several types of literals. 
- Numeric Literals
- String Literals
- Bolllean Literals
- Special Literals

### 1. Numeric Literals

In [33]:
a = 0b010101 # Binary Numeric Literal
b = 100 # Decimal Numeric Literal
c = 0o512 # Octal Numeric Literal
d = 0x336 # Hexadecimal Numeric Literal

# Float Literal
float_1 = 1.25
float_2 = 1.25e+8
float_3 = 1.25e-2

# Complex Literal
compl = 2+38j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(compl,compl.imag,compl.real)

21 100 330 822
1.25 125000000.0 0.0125
(2+38j) 38.0 2.0